
<div class="row form-group">
    <div class="col-md-7">
        API
        <select class="form-control" id="apiId"></select>
    </div><div class="col-md-3">
        <br />
        <input type="submit" value="View" onclick="rc.GetCircleByAPIId()" class="t-1 btn btn-primary" />
    </div>
    <div class="col-md-12">
        <hr />
    </div>
</div>
<form id="btn_save" style="display:none">
    <div class="row form-group">

        <div class="col-md-12 table-responsive">
            <table id="myTable" class="display nowrap dataTable dtr-inline collapsed ">
                <thead>
                    <tr>
                        <th>SrNo</th>
                        <th>Circle Name</th>
                        <th>Circle Code</th>
                    </tr>
                </thead>
                <tbody id="tBody">
                </tbody>
            </table>
        </div>
    </div>
    <div class="row form-group">

        <div class="col-md-1">
            <a href="javascript:void(0);" onclick="rc.SaveCircleCode()" class="t-1 btn btn-primary">Save</a>
        </div>
    </div>
</form>
