
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgetPassword</title>
    <link rel="stylesheet" type="text/css" href="~/assets/login/css/css-main.css">
    <link rel="stylesheet" href="~/assets/login/css/style.css">
</head>
<body>
    <div class="main-div">
        <div class="right-slider-div forget-passward ">
            <form method="post" class="login100-form validate-form">
                <div style="text-align: center; margin-bottom: 10px; display: -webkit-flex;">
                    <span class="coreSpriteLockSmall"></span>
                    @*<img src="~/assets/login/image/bg.jpg" id="company-logo" alt="">*@
                </div>
                @*<span class="login100-form-title p-b-43 vy6Bb">
                        Login with your Qrologic account
                    </span>*@
                <span class="login100-form-title p-b-43 vy6Bb" style="font-size: 12px;line-height: 18px;font-weight: 400; color: #8e8e8e;">
                    Create a password at least 8 characters long.
                </span>
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Enter New Password </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Confirm New Password </span>
                </div>
                <br />
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">Submit</button>
                    <span></span>
                </div>
            </form>
        </div>
    </div>
    <script src="~/assets/login/js/jquery-jquery-3.2.1.min.js"></script>
    <script src="~/assets/login/js/1841-js-main.js"></script>
</body>
</html>
