@model QroApi.MODEL.UserRegistration
@{
    ViewData["Title"] = "MemberRegistration";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1> <i class="lnr-apartment opacity-6"></i> Member </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Member</a></li>
        <li class="active"> Member Registration
        <li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <span class="text-danger" id="spvalidation"></span>
                    @*<h5 class="card-title">Member Registration</h5>*@
                    <form class="">
                        <div class="position-relative form-group">
                            <label asp-for="UserRole" class=""></label><span class="text-danger">*</span>
                            <select asp-for="UserRole" type="select" class="form-control">
                                <option>Select Role</option>
                            </select>
                            @*<span asp-validation-for="UserRole" class="text-danger"></span>*@
                        </div>
                        <div class="position-relative form-group">
                            <label asp-for="PackageId" class=""></label><span class="text-danger">*</span>
                            <select asp-for="PackageId" type="select" class="form-control">
                                <option value="0">Select Package </option>
                            </select>
                            @*<span asp-validation-for="PackageId" class="text-danger"></span>*@
                        </div>
                        <div class="position-relative form-group">
                            <label asp-for="UserName"></label><span class="text-danger">*</span>
                            <input asp-for="UserName" type="text" placeholder="Full Name" class="form-control">
                            @*<span asp-validation-for="UserName" class="text-danger"></span>*@
                        </div>
                        <div class="position-relative form-group">
                            <label asp-for="Email" class=""></label><span class="text-danger">*</span>
                            <input asp-for="Email" placeholder="Email" type="text" class="form-control">
                            @*<span asp-validation-for="Email" class="text-danger"></span>*@
                        </div>
                        <div class="position-relative form-group">
                            <label asp-for="Mobile" class=""></label><span class="text-danger">*</span>
                            <input asp-for="Mobile" placeholder="Mobile" type="text" class="form-control">
                            @*<span asp-validation-for="Mobile" class="text-danger"></span>*@
                        </div>
                        <div class="position-relative form-group">
                            <label asp-for="Password" class=""></label><span class="text-danger">*</span>
                            <input asp-for="Password" placeholder="Password" type="password" class="form-control">
                            @*<span asp-validation-for="Password" class="text-danger"></span>*@
                        </div>
                        <div class="position-relative form-group">
                            <label asp-for="TPassword" class=""></label><span class="text-danger">*</span>
                            <input asp-for="TPassword" placeholder="Transaction Password" type="password" class="form-control">
                            @*<span asp-validation-for="TPassword" class="text-danger"></span>*@
                        </div>
                        <div class="position-relative form-group" style="display:none;">
                            <label for="exampleFile" class="">File</label>
                            <input name="file" id="exampleFile" type="file" class="form-control-file">
                            <small class="form-text text-muted">
                                This is some placeholder block-level help
                                text for the above input. It's a bit lighter and easily wraps to a new
                                line.
                            </small>
                        </div>
                        <a class="mt-1 btn btn-primary" onclick="user.SaveMemberData()" href="#">Submit</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-body">

                    <form class="">
                        <div class="position-relative form-group">
                            <label asp-for="AadharNumber"></label><span class="text-danger">*</span>
                            <input asp-for="AadharNumber" placeholder="Aadhar Number" type="text" class="form-control">
                            @*<span asp-validation-for="AadharNumber" class="text-danger"></span>*@
                        </div>
                        <div class="position-relative form-group">
                            <label asp-for="PanNumber" class=""></label><span class="text-danger">*</span>
                            <input asp-for="PanNumber" placeholder="PAN Number" class="form-control">
                            @*<span asp-validation-for="PanNumber" class="text-danger"></span>*@
                        </div>
                        <div class="position-relative form-group">
                            <label asp-for="Address" class=""></label>
                            <textarea asp-for="Address" class="form-control" type="text"></textarea>
                            @*<span asp-validation-for="Address" class="text-danger"></span>*@
                        </div>
                        <div class="position-relative form-group">
                            <label asp-for="CountryId" class=""></label><span class="text-danger">*</span>
                            <select asp-for="CountryId" onchange="common.BindState(this.value)" type="select" class="form-control">
                                <option value="0">Select Country</option>
                                <option value="1">India</option>

                            </select>
                            @*<span asp-validation-for="CountryId" class="text-danger"></span>*@
                        </div>
                        <div class="position-relative form-group">
                            <label asp-for="StateId" class=""></label><span class="text-danger">*</span>
                            <select asp-for="StateId" onchange="common.BindCity(this.value)" type="select" class="form-control">
                                <option>Select State</option>
                            </select>
                            @*<span asp-validation-for="StateId" class="text-danger"></span>*@

                        </div>
                        <div class="position-relative form-group">
                            <label asp-for="CityId" class=""></label><span class="text-danger">*</span>
                            <select asp-for="CityId" class="form-control" type="select">
                                <option>Select City</option>

                            </select>
                            @*<span asp-validation-for="CityId" class="text-danger"></span>*@

                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</section>

<script src="~/CustomJS/User.js"></script>
@section Scripts{
    <script>
        $(document).ready(function () {
            $.when(common.BindRole()).then(function () {
                common.BindPackage()
            }).then(function () {
                common.BindCountry();
            });
        });
    </script>
}
