@model QroApi.MODEL.CityModel


<form asp-action="AddCity" asp-controller="Utility" enctype="multipart/form-data" data-ajax="true" data-ajax-method="POST" data-ajax-begin="OnBegin" data-ajax-failure="OnFailure"
      data-ajax-success="OnSuccess" data-ajax-complete="OnComplete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-sm-6">
            <div class="position-relative form-group">
                <label asp-for="StateId" class="control-label"></label><span class="text-danger">*</span>
                <select asp-for="StateId" type="select" class="form-control">
                </select>
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label><span class="text-danger">*</span>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
                <input type="hidden" id="hdnStateId" asp-for="StateId" />
                <input type="hidden" id="hdnCityId" asp-for="CityId" />
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="CityCode" class="control-label"></label><span class="text-danger">*</span>
                <input asp-for="CityCode" class="form-control" />
                <span asp-validation-for="CityCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

</form>
