@model QroApi.MODEL.AssignedService
<div class="card-body" style="max-width: 600px;">
    <h6 class="card-title"> Name:&nbsp;@Model.MemberName</h6>
    <input type="hidden" id="MsrNo" value="@Model.MsrNo" />
    <div id="serviceList">
        @if (Model.list != null)
        {
            @foreach (var item in Model.list)
            {
                <div class="position-relative form-check form-check-inline">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" checked="@item.IsAssign" value="@item.ServiceId">@item.ServiceName
                    </label>
                </div>
            }
        }
    </div>
    <input type="submit" onclick="utility.AssignServiceByMsrNo()" value="Submit" class="btn btn-primary" />
</div>
