
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@{
    ViewData["Title"] = "List State";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{
    JObject obj = JObject.Parse(JsonConvert.SerializeObject(new StateResponse(), Formatting.Indented, new JsonSerializerSettings
    { PreserveReferencesHandling = PreserveReferencesHandling.Objects }));
    obj.Remove("$id");
    obj.Remove("Id");
    List<string>
    termsList = new List<string>();
    foreach (var columnName in obj)
    {
        termsList.Add(columnName.Key.Trim());
    }
    string[] columnArray = termsList.ToArray();
}

<style>
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-right form-group">
                            <a class="" href="javascript:void(0);" data-toggle="modal" data-target="#exampleModal" onclick="utility.StatePopup(0);">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add New State
                            </a>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="myTable" class="display nowrap dataTable dtr-inline collapsed text-truncate">
                                    <thead>
                                        <tr>
                                            @foreach (var item in columnArray)
                                            {
                                                <th>@item</th>
                                            }
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/CustomJS/Utility.js"></script>
@section Scripts{
    <script>
        $(document).ready(function () {
            menu.BindBreadCrumb(0);
            table.BindPostTable("/Admin/Utility/GetStateList", 'myTable');
        });
    </script>
}


