@{
    ViewData["Title"] = "Home";
}

<div class="elementor elementor-5">
    <!--=====  Slider Banner Section =======-->
    <section id="slider-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slider-content">
                        <big>Welcome To </big>
                        <h1>SIAASU FINTECH PRIVATE LIMITED </h1>
                        <p>Earn more Safe And Secure!</p>
                        <div class="link-button-slider">
                            <span class="web-buttons"><a class="button_white" href="#agent_type">Detail</a></span>
                            <span class="web-buttons">
                                <a class="button_yellow" href="#contact-section">
                                    REGISTER FOR
                                    PARTNER
                                </a>
                            </span>
                            <span class="web-buttons">
                                <a class="button_yellow" href="membersignup.html" target="_blank">
                                    Try For
                                    Free
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====  About Us Section =======-->
    <section class="elementor-element about-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-content">
                        <h2>About Us</h2>
                      
                        <p>
                            Siaasu Pay is a Brand of Siaasu Fintech Private Limited Company registered under The Startup
                            India program of Government of India, set
                            up in October 2021 by a team of professionals with experience in Digital Banking &
                            Payments industry. The team works on deep
                            insights and understanding of payment and transaction technology space.<br><br>
                            We operate on a B2B model, where we partner with neighborhood retail stores who can
                            offer Assisted Digital Financial Services
                            like Aadhaar ATM, SMS Payment, Khata Service, Utility Payment, Prepaid Cards,
                            Insurance, and Pay Out by Siaasu Pay App.
                            Our innovative solutions are modeled to make the financial transactions seamless,
                            quick, easy and strives to empower our
                            retailer partners.
                        </p>
                        <a class="link_button_yellow" href="#">About More</a>
                    </div>
                </div>
                <!-- <div class="col-lg-4"></div>
                <div class="col-lg-8">
                    <h2>Customers in India</h2>
                    <div class="about_count" id="home">
                        <div class="counter-item">
                            <span><i class="fa fa-user"></i></span><span class="timer" data-to="20000"
                                data-speed="5000">20,000</span><span class="timer1">+</span>
                            <p class="counter-title1">Retailers</p>
                        </div>
                        <div class="counter-item">
                            <span><i class="fa fa-bookmark"></i></span><span class="timer" data-to="2500"
                                data-speed="5000">2,500</span><span class="timer1">+</span>
                            <p class="counter-title2">Distributor</p>
                        </div>
                        <div class="counter-item">
                            <span><i class="fa fa-briefcase"></i></span>
                            <span class="timer" data-to="900" data-speed="5000"
                                data-delimiter=",">900</span><span class="timer1">+</span>
                            <p class="counter-title3">Master Distributor</p>
                        </div>
                        <div class="counter-item">
                            <span><i class="fa fa-star-o"></i></span> <span class="timer" data-to="350"
                                data-speed="5000">350</span><span class="timer1">+</span>
                            <p class="counter-title4">Store </p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!--=====  Why Us Section =======-->
    <!-- <section id="why-us-section" class="elementor-element">
        <div class="container">
            <div class="row">
                <div class="why-section-box1">
                    <div class="why-column-wrap">
                        <div class="elementor-widget-wrap">
                            <div class="why-us-block">
                                <h3 class="title-h3">Why Us </h3>
                            </div>
                            <div class="elementor-element why-wrep-box2"
                                data-element_type="why-us-block.default">
                                <div class="why-box-effect-1 why-us-block">
                                    <div class="why-animated-box-front">
                                        <div class="why-animated-box-content">
                                            <h3 class="why-title-front">01.</h3>
                                            <h4 class="why-subtitle-front">Safe And Secure</h4>
                                            <p class="why-description-front">
                                                Our Company is Recognition in startup India program by Govt. of
                                                India so it’s Safe and Secure.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="why-animated-box-back">
                                        <div class="why-animated-box-content">
                                            <h3 class="why-title-back">02.</h3>
                                            <h4 class="why-subtitle-back">Safe And Secure</h4>
                                            <p class="why-description-back">
                                                Our Company is Recognition in startup India program by Govt. of
                                                India so it’s Safe and Secure.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="why-section-box2">
                    <div class="why-column-wrap">
                        <div class="elementor-widget-wrap">
                            <div class="elementor-element why-wrep-box1"
                                data-element_type="why-us-block.default">
                                <div class="why-box-effect-1 why-us-block">
                                    <div class="why-animated-box-front">
                                        <div class="why-animated-box-content">
                                            <h3 class="why-title-front">02.</h3>
                                            <h4 class="why-subtitle-front">Easy And Fast</h4>
                                            <p class="why-description-front">
                                                Our Portal Working is very easy and fast.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="why-animated-box-back">
                                        <div class="why-animated-box-content">
                                            <h3 class="why-title-back">02.</h3>
                                            <h4 class="why-subtitle-back">Easy And Fast</h4>
                                            <p class="why-description-back">
                                                Our Portal Working is very easy and fast.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element why-wrep-box3"
                                data-element_type="why-us-block.default">
                                <div class="why-box-effect-1 why-us-block">
                                    <div class="why-animated-box-front">
                                        <div class="why-animated-box-content">
                                            <h3 class="why-title-front">03.</h3>
                                            <h4 class="why-subtitle-front">Heights Commission and Margins</h4>
                                            <p class="why-description-front">
                                                We are Provide Heights commission and Margins for all Agents in
                                                over india.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="why-animated-box-back">
                                        <div class="why-animated-box-content">
                                            <h3 class="why-title-back">03.</h3>
                                            <h4 class="why-subtitle-back">Heights Commission and Margins</h4>
                                            <p class="why-description-back">
                                                We are Provide Heights commission and Margins for all Agents in
                                                over india.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="why-section-box3">
                    <div class="why-column-wrap">
                        <div class="elementor-widget-wrap">
                            <div class="elementor-element why-wrep-box4"
                                data-element_type="why-us-block.default">
                                <div class="why-box-effect-1 why-us-block">
                                    <div class="why-animated-box-front">
                                        <div class="why-animated-box-content">
                                            <h3 class="why-title-front">04.</h3>
                                            <h4 class="why-subtitle-front">24/7 Customer Support </h4>
                                            <p class="why-description-front">
                                                Anytime we are ready for Customer support
                                            </p>
                                        </div>
                                    </div>
                                    <div class="why-animated-box-back">
                                        <div class="why-animated-box-content">
                                            <h3 class="why-title-back">04.</h3>
                                            <h4 class="why-subtitle-back">24/7 Customer Support </h4>
                                            <p class="why-description-back">
                                                Anytime we are ready for Customer support
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element why-wrep-box5"
                                data-element_type="why-us-block.default">
                                <div class="why-box-effect-1 why-us-block">
                                    <div class="why-animated-box-front">
                                        <div class="why-animated-box-content">
                                            <h3 class="why-title-front">05.</h3>
                                            <h4 class="why-subtitle-front">Lowest Investment </h4>
                                            <p class="why-description-front">
                                                You can join us with very little investment
                                            </p>
                                        </div>
                                    </div>
                                    <div class="why-animated-box-back">
                                        <div class="why-animated-box-content">
                                            <h3 class="why-title-back">05.</h3>
                                            <h4 class="why-subtitle-back">Lowest Investment </h4>
                                            <p class="why-description-back">  You can join us with very little investment
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--===== Career Section =======-->
    <section id="career-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="career-section-left">
                        <h4>CAREERS</h4><span>AT Siaasu Pay</span>
                        <p>Join Siaasu Pay and Make a Difference</p>
                        <p>
                            To help the underserved section of the society thrive and prosper Siaasu Pay is on a
                            Mission Mode of providing jobs to the underserved society
                            in India. If you dream of making a difference, help build the nation and bridge the
                            digital divide Siaasu Pay is the place to be. Join us and help
                            write the fintech success story!
                        </p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="career-section-right">
                        <div class="career-content">
                            <heading>Our Mission</heading>
                            <p>
                                To create numerous jobs through an ever expanding network of individuals with
                                entrepreneurial spirit and provide
                                every Indian best value for their money.
                            </p>
                        </div>
                        <div class="career-content">
                            <heading>Our Vision</heading>
                            <p>
                                To ace Indian e-commerce sector by redefining its concept and serve every Indian
                                by driving a self-employment
                                revolution through our the power of Mobile and Aadhar.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====  Register Account Section =======-->
    <section class="elementor-element" id="register_account">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="register-section-left">
                        <h5>Register your Account</h5>
                        <span>
                            Registered your B2B Account Here And Earn More Commissions and Margins For All
                            Services
                        </span>
                        <heading>Our Plans Details Are here : </heading>
                        <div class="register-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="table-top-heading">B2B<br>Services</th>
                                        <!-- <th class="table-top-heading">Activated/Deactivate<br>Free</th> -->
                                        <th class="table-top-heading">Activated/Deactivate<br>in Rs.2100</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>AEPS </th>
                                        <!-- <td><i class="fa fa-close"></i></td> -->
                                        <td><i class="fa fa-check"></i></td>
                                    </tr>
                                    <tr>
                                        <th>Pay Out</th>
                                        <!-- <td><i class="fa fa-close"></i></td> -->
                                        <td><i class="fa fa-check"></i></td>
                                    </tr>
                                    <!-- <tr>
                                        <th>Pan Card</th>
                                        <td><i class="fa fa-check"></i></td>
                                        <td><i class="fa fa-check"></i></td>
                                    </tr> -->
                                    <tr>
                                        <th>Recharge</th>
                                        <!-- <td><i class="fa fa-check"></i></td> -->
                                        <td><i class="fa fa-check"></i></td>
                                    </tr>
                                    <tr>
                                        <th>Insurance</th>
                                        <!-- <td><i class="fa fa-check"></i></td> -->
                                        <td><i class="fa fa-check"></i></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Bill Payment System</th>
                                        <!-- <td><i class="fa fa-close"></i></td> -->
                                        <td><i class="fa fa-check"></i></td>
                                    </tr>
                                    <!-- <tr>
                                        <th>GST</th>
                                        <td><i class="fa fa-check"></i></td>
                                        <td><i class="fa fa-check"></i></td>
                                    </tr> -->
                                    <!-- <tr>
                                        <th>Account Opening</th>
                                        <td><i class="fa fa-close"></i></td>
                                        <td><i class="fa fa-check"></i></td>
                                    </tr> -->
                                    <tr>
                                        <th>Ticket Booking</th>
                                        <!-- <td><i class="fa fa-close"></i></td> -->
                                        <td><i class="fa fa-check"></i></td>
                                    </tr>
                                    <!-- <tr>
                                        <th>Finance</th>
                                        <td><i class="fa fa-close"></i></td>
                                        <td><i class="fa fa-check"></i></td>
                                    </tr> -->
                                    <!-- <tr>
                                        <th scope="row">Prepaid Card & mPOS Machine</th>
                                        <td><i class="fa fa-check"></i></td>
                                        <td><i class="fa fa-check"></i></td>
                                    </tr> -->
                                    <!-- <tr>
                                        <th>Other</th>
                                        <td><i class="fa fa-close"></i></td>
                                        <td><i class="fa fa-check"></i></td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="register-section-right">
                        <heading>Registration Your Account Here</heading>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="register-account-table">
                                    <h5>Demo</h5>
                                    <del>Rs.499/-</del>
                                    <span>100% off </span>
                                    <price>on this Account you<br>have to only pay<br>Free</price>
                                    <p>
                                        <strong>This is a life time Registration fee for This Account</strong>
                                    </p>
                                    <a class="link_button_yellow account" href="#contact-section">About More</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="register-account-table">
                                    <h5>Retailer</h5>
                                    <del>Rs.3000/-</del>
                                    <span>30% off </span>
                                    <price>on this Account you<br> have to only pay<br> Rs. 2100/-</price>
                                    <p>
                                        <strong>This is a life time Registration fee for This Account</strong>
                                    </p>
                                    <a class="link_button_yellow account" href="#contact-section">About More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====  Agent Type Section =======-->
    <!-- counter divider part start -->
    <section class="counterDivider">
        <div class="container">
            <div class="row super_sub_content">
                <div class="col-md-3 col-sm-6">
                    <div class="serviceBox_2 purple">
                        <div class="service-icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="service-content">
                            <h3>Retailer</h3>
                            <p> KRISHNA DIGITAL BUSINESS GROUPS have a facility to GST registration online .</p>
                            <div class="read">
                                <a class="link_button_yellow account" href="#" data-toggle="modal"
                                   data-target="#popup_retailer">More Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="serviceBox_2 purple">
                        <div class="service-icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <div class="service-content">
                            <h3>Distributor</h3>
                            <p>
                                You can simply withdraw, send money and Balance inquiry from any of your
                                contacts with Aeps.
                            </p>
                            <div class="read">
                                <a class="link_button_yellow account" href="#" data-toggle="modal"
                                   data-target="#popup_distributor">More Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="serviceBox_2 blue">
                        <div class="service-icon">
                            <i class="fa fa-user-md"></i>
                        </div>
                        <div class="service-content">
                            <h3>Master Distributor</h3>
                            <p>
                                You can simply Pay all Utility bill, Mobile Recharge , DTH Recharge and much
                                more..
                            </p>
                            <div class="read">
                                <a class="link_button_yellow account" href="#" data-toggle="modal"
                                   data-target="#popup_master_distributor">More Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="serviceBox_2 blue">
                        <div class="service-icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <div class="service-content">
                            <h3>Super Distributor</h3>
                            <p>
                                KRISHNA DIGITAL BUSINESS GROUPS provides Aadhaar Based Biometric Pan Card
                                Services Soon.
                            </p>
                            <div class="read">
                                <a class="link_button_yellow account" href="#" data-toggle="modal"
                                   data-target="#popup_super_distributor">More Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- counter divider part end -->
    <!-- <section class="elementor-element agent-section" id="agent_type">
        <div class="container">
            <div class="row">
                <div class="elementor-widget-wrap">
                    <h4>Agent Type</h4>
                    <div class="elementor-element agent_carousel_section"
                        data-element_type="agent_carousel_slider">
                        <div class="agent_carousel"
                            data-slider_options="{&quot;slidesToShow&quot;:{&quot;desktop&quot;:4,&quot;tablet&quot;:0,&quot;mobile&quot;:0},&quot;autoplaySpeed&quot;:5000,&quot;autoplay&quot;:true,&quot;infinite&quot;:true,&quot;pauseOnHover&quot;:false,&quot;speed&quot;:500,&quot;arrows&quot;:false,&quot;dots&quot;:true,&quot;slidesToScroll&quot;:1,&quot;prevArrow&quot;:&quot;&lt;i class=\&quot;fa fa-angle-left prev-arrow jet-arrow\&quot;&gt;&lt;\/i&gt;&quot;,&quot;variableWidth&quot;:false,&quot;nextArrow&quot;:&quot;&lt;i class=\&quot;fa fa-angle-right next-arrow jet-arrow\&quot;&gt;&lt;\/i&gt;&quot;}">
                            <div class="agent_carousel-item">
                                <div class="agent_carousel_inner">
                                    <div class="agent_carousel_content">
                                        <h5 class="agent_carousel_title">
                                            01.<br>
                                            Retailer
                                        </h5>
                                        <h6>Price Details</h6>
                                        <big>Maximum Retail Price</big>
                                        <span>(Incl. of all taxes)</span>
                                        <del>Rs. 3000.00</del>
                                        <p>Selling Price</p>
                                        <price>Rs. 2100.00</price>
                                        <datalist>Overall you save <i class="fa fa-rupee"></i> 900 (30%) in this
                                            package.</datalist>
                                        <a class="link_button_yellow account" href="#" data-toggle="modal"
                                            data-target="#popup_retailer">More Detail</a>
                                    </div>
                                </div>
                            </div>
                            <div class="agent_carousel-item">
                                <div class="agent_carousel_inner">
                                    <div class="agent_carousel_content">
                                        <h5 class="agent_carousel_title">
                                            02.<br>
                                            Distributor
                                        </h5>
                                        <h6>Price Details</h6>
                                        <big>Maximum Retail Price</big>
                                        <span>(Incl. of all taxes)</span>
                                        <del>Rs. 20,000.00</del>
                                        <p>Selling Price</p>
                                        <price>Rs. 15,000.00</price>
                                        <datalist>Overall you save <i class="fa fa-rupee"></i> 5000 (25%) in
                                            this package.</datalist>
                                        <a class="link_button_yellow account" href="#" data-toggle="modal"
                                            data-target="#popup_distributor">More Detail</a>
                                    </div>
                                </div>
                            </div>
                            <div class="agent_carousel-item">
                                <div class="agent_carousel_inner">
                                    <div class="agent_carousel_content">
                                        <h5 class="agent_carousel_title">
                                            03.<br>
                                            Master Distributor
                                        </h5>
                                        <h6>Price Details</h6>
                                        <big>Maximum Retail Price</big>
                                        <span>(Incl. of all taxes)</span>
                                        <del>Rs. 60,000.00</del>
                                        <p>Selling Price</p>
                                        <price>Rs. 40,000.00</price>
                                        <datalist>Overall you save <i class="fa fa-rupee"></i> 20000 (33.33%) in
                                            this package.</datalist>
                                        <a class="link_button_yellow account" href="#" data-toggle="modal"
                                            data-target="#popup_master_distributor">More Detail</a>
                                    </div>
                                </div>
                            </div>
                            <div class="agent_carousel-item">
                                <div class="agent_carousel_inner">
                                    <div class="agent_carousel_content">
                                        <h5 class="agent_carousel_title">
                                            04.<br>
                                            Super Distributor
                                        </h5>
                                        <h6>Price Details</h6>
                                        <big>Maximum Retail Price</big>
                                        <span>(Incl. of all taxes)</span>
                                        <del>Rs. 1,50,000.00</del>
                                        <p>Selling Price</p>
                                        <price>Rs. 99,000.00</price>
                                        <datalist>Overall you save <i class="fa fa-rupee"></i> 51000 (33.33%) in
                                            this package.</datalist>
                                        <a class="link_button_yellow account" href="#" data-toggle="modal"
                                            data-target="#popup_super_distributor">More Detail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!---=============== All Popup Section ==================== -->
    <section id="popup-modal">
        <div id="popup_retailer" class="modal fade pullDown">
            <div class="popup-page-wrapper">
                <div class="container">
                    <h1>Retailer</h1><a href="#" class="pop-close" data-dismiss="modal">
                        <i class="fa fa-close"></i>
                    </a>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="price-detail-section">
                                <h5>Price Details</h5>
                                <p class="maximum-price">Maximum Retail Price</p>
                                <p class="incl">(Incl. of all taxes)</p>
                                <del>Rs. 3000.00</del>
                                <p class="selling-title">Selling Price</p>
                                <price>Rs. 2100,00</price>
                                <p class="overall-title">
                                    Overall you save <i class="fa fa-rupee"></i> 900 (30%)
                                    in this package.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="log-in-pop-right">
                                <div class="col-sm-6">
                                    <div class="service-commission-section">
                                        <div class="panel-service">
                                            <h4>B2B Services : </h4>
                                            <ul>
                                                <li>Aeps</li>
                                                <li>Dmt</li>
                                                <li>Pan Card</li>
                                                <li>Insurance</li>
                                                <li>Bill Payment</li>
                                                <li>Finance</li>
                                                <li>mPOS</li>
                                                <li>Prepaid Card</li>
                                                <li>Other</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="service-commission-section">
                                        <div class="commission-section">
                                            <h4>Commission : </h4>
                                            <ul>
                                                <li>Rs. 12</li>
                                                <li>Surcharge Rs. 6</li>
                                                <li>Commission Rs. 5</li>
                                                <li>Commission 10% To 20%</li>
                                                <li>Nill</li>
                                                <li>Commission 5%</li>
                                                <li>Nill</li>
                                                <li>Commission 0.40%</li>
                                                <li>Commission 10% To 20%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div> </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="popup-bottom-section">
                                <heading>*T&C Apply.</heading>
                                <p><i class="fa fa-check"></i> 24/7 Support</p>
                                <p><i class="fa fa-check"></i> Highest Commission in India.</p>
                                <p><i class="fa fa-check"></i> Safe and Secure</p>
                                <p><i class="fa fa-hand-o-right"></i> Call for more Information </p>
                                <div class="contact-number"><a href="#">8448441008</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup_distributor" class="modal fade pullDown">
            <div class="popup-page-wrapper">
                <div class="container">
                    <h1>Distributor</h1><a href="#" class="pop-close" data-dismiss="modal">
                        <i class="fa fa-close"></i>
                    </a>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="price-detail-section">
                                <h5>Price Details</h5>
                                <p class="maximum-price">Maximum Retail Price</p>
                                <p class="incl">(Incl. of all taxes)</p>
                                <del>Rs. 20,000.00</del>
                                <p class="selling-title">Selling Price</p>
                                <price>Rs. 15,000.00</price>
                                <p class="overall-title">
                                    Overall you save <i class="fa fa-rupee"></i> 5000 (25%)
                                    in this package.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="log-in-pop-right">
                                <div class="col-sm-6">
                                    <div class="service-commission-section">
                                        <div class="panel-service">
                                            <h4>B2B Services : </h4>
                                            <ul>
                                                <li>Aeps</li>
                                                <li>Dmt</li>
                                                <li>Pan Card</li>
                                                <li>Insurance</li>
                                                <li>Bill Payment</li>
                                                <li>Finance</li>
                                                <li>mPOS</li>
                                                <li>Prepaid Card</li>
                                                <li>Other</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="service-commission-section">
                                        <div class="commission-section">
                                            <h4>Commission : </h4>
                                            <ul>
                                                <li>Rs. 13</li>
                                                <li>Surcharge Rs. 6</li>
                                                <li>Commission Rs. 6</li>
                                                <li>Commission 10% To 25%</li>
                                                <li>Nill</li>
                                                <li>Commission 6%</li>
                                                <li>Nill</li>
                                                <li>Commission 0.40%</li>
                                                <li>Commission 15% To 25%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div> </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="popup-bottom-section">
                                <heading>*T&C Apply.</heading>
                                <p><i class="fa fa-check"></i> 24/7 Support</p>
                                <p><i class="fa fa-check"></i> Highest Commission in India.</p>
                                <p><i class="fa fa-check"></i> Safe and Secure</p>
                                <p><i class="fa fa-hand-o-right"></i> Call for more Information </p>
                                <div class="contact-number"><a href="#">8448441008</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup_master_distributor" class="modal fade pullDown">
            <div class="popup-page-wrapper">
                <div class="container">
                    <h1>Master Distributor</h1><a href="#" class="pop-close" data-dismiss="modal">
                        <i class="fa fa-close"></i>
                    </a>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="price-detail-section">
                                <h5>Price Details</h5>
                                <p class="maximum-price">Maximum Retail Price</p>
                                <p class="incl">(Incl. of all taxes)</p>
                                <del>Rs. 60,000.00</del>
                                <p class="selling-title">Selling Price</p>
                                <price>Rs. 40,000.00</price>
                                <p class="overall-title">
                                    Overall you save <i class="fa fa-rupee"></i> 20,000
                                    (33.33%) in this package.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="log-in-pop-right">
                                <div class="col-sm-6">
                                    <div class="service-commission-section">
                                        <div class="panel-service">
                                            <h4>B2B Services : </h4>
                                            <ul>
                                                <li>Aeps</li>
                                                <li>Dmt</li>
                                                <li>Pan Card</li>
                                                <li>Insurance</li>
                                                <li>Bill Payment</li>
                                                <li>Finance</li>
                                                <li>mPOS</li>
                                                <li>Prepaid Card</li>
                                                <li>Other</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="service-commission-section">
                                        <div class="commission-section">
                                            <h4>Commission : </h4>
                                            <ul>
                                                <li>Rs. 14</li>
                                                <li>Surcharge Rs. 6</li>
                                                <li>Commission Rs. 7</li>
                                                <li>Commission 20% To 25%</li>
                                                <li>Nill</li>
                                                <li>Commission 7%</li>
                                                <li>Nill</li>
                                                <li>Commission 0.40%</li>
                                                <li>Commission 20% To 30%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div> </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="popup-bottom-section">
                                <heading>*T&C Apply.</heading>
                                <p><i class="fa fa-check"></i> 24/7 Support</p>
                                <p><i class="fa fa-check"></i> Highest Commission in India.</p>
                                <p><i class="fa fa-check"></i> Safe and Secure</p>
                                <p><i class="fa fa-hand-o-right"></i> Call for more Information </p>
                                <div class="contact-number"><a href="#">+91-8890150920</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup_super_distributor" class="modal fade pullDown">
            <div class="popup-page-wrapper">
                <div class="container">
                    <h1>super Distributor</h1><a href="#" class="pop-close" data-dismiss="modal">
                        <i class="fa fa-close"></i>
                    </a>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="price-detail-section">
                                <h5>Price Details</h5>
                                <p class="maximum-price">Maximum Retail Price</p>
                                <p class="incl">(Incl. of all taxes)</p>
                                <del>Rs. 1,50,000.00</del>
                                <p class="selling-title">Selling Price</p>
                                <price>Rs. 99,000.00</price>
                                <p class="overall-title">
                                    Overall you save <i class="fa fa-rupee"></i> 51,000
                                    (33.33%) in this package.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="log-in-pop-right">
                                <div class="col-sm-6">
                                    <div class="service-commission-section">
                                        <div class="panel-service">
                                            <h4>B2B Services : </h4>
                                            <ul>
                                                <li>Aeps</li>
                                                <li>Dmt</li>
                                                <li>Pan Card</li>
                                                <li>Insurance</li>
                                                <li>Bill Payment</li>
                                                <li>Finance</li>
                                                <li>mPOS</li>
                                                <li>Prepaid Card</li>
                                                <li>Other</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="service-commission-section">
                                        <div class="commission-section">
                                            <h4>Commission : </h4>
                                            <ul>
                                                <li>Rs. 15</li>
                                                <li>Surcharge Rs. 6</li>
                                                <li>Commission Rs. 8</li>
                                                <li>Commission 20% To 30%</li>
                                                <li>Nill</li>
                                                <li>Commission 8%</li>
                                                <li>Nill</li>
                                                <li>Commission 0.40%</li>
                                                <li>Commission 20% To 30%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div> </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="popup-bottom-section">
                                <heading>*T&C Apply.</heading>
                                <p><i class="fa fa-check"></i> 24/7 Support</p>
                                <p><i class="fa fa-check"></i> Highest Commission in India.</p>
                                <p><i class="fa fa-check"></i> Safe and Secure</p>
                                <p><i class="fa fa-hand-o-right"></i> Call for more Information </p>
                                <div class="contact-number"><a href="#">+91-8890150920</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="popup_retailer" class="modal fade pullDown">
        <div class="popup-page-wrapper">
            <div class="container">
                <h1>Retailer</h1><a href="#" class="pop-close" data-dismiss="modal">
                    <i class="fa fa-close"></i>
                </a>
                <div class="row">
                    <div class="col-md-5">
                        <div class="price-detail-section">
                            <h5>Price Details</h5>
                            <p class="maximum-price">Maximum Retail Price</p>
                            <p class="incl">(Incl. of all taxes)</p>
                            <del>Rs. 1999.00</del>
                            <p class="selling-title">Selling Price</p>
                            <price>Rs. 999.00</price>
                            <p class="overall-title">
                                Overall you save <i class="fa fa-rupee"></i> 1000 (50%) in
                                this package.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="log-in-pop-right">
                            <div class="col-sm-6">
                                <div class="service-commission-section">
                                    <div class="panel-service">
                                        <h4>B2B Services : </h4>
                                        <ul>
                                            <li>Aeps</li>
                                            <li>Dmt</li>
                                            <li>Pan Card</li>
                                            <li>Insurance</li>
                                            <li>Bill Payment</li>
                                            <li>Finance</li>
                                            <li>mPOS</li>
                                            <li>Prepaid Card</li>
                                            <li>Other</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="service-commission-section">
                                    <div class="commission-section">
                                        <h4>Commission : </h4>
                                        <ul>
                                            <li>Rs. 12</li>
                                            <li>Surcharge Rs. 6</li>
                                            <li>Commission Rs. 5</li>
                                            <li>Commission 10% To 20%</li>
                                            <li>Nill</li>
                                            <li>Commission 5%</li>
                                            <li>Nill</li>
                                            <li>Commission 0.40%</li>
                                            <li>Commission 10% To 20%</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div> </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="popup-bottom-section">
                            <heading>*T&C Apply.</heading>
                            <p><i class="fa fa-check"></i> 24/7 Support</p>
                            <p><i class="fa fa-check"></i> Highest Commission in India.</p>
                            <p><i class="fa fa-check"></i> Safe and Secure</p>
                            <p><i class="fa fa-hand-o-right"></i> Call for more Information </p>
                            <div class="contact-number"><a href="#">+91-8890150920</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popup_distributor" class="modal fade pullDown">
        <div class="popup-page-wrapper">
            <div class="container">
                <h1>Distributor</h1><a href="#" class="pop-close" data-dismiss="modal">
                    <i class="fa fa-close"></i>
                </a>
                <div class="row">
                    <div class="col-md-5">
                        <div class="price-detail-section">
                            <h5>Price Details</h5>
                            <p class="maximum-price">Maximum Retail Price</p>
                            <p class="incl">(Incl. of all taxes)</p>
                            <del>Rs. 15,999.00</del>
                            <p class="selling-title">Selling Price</p>
                            <price>Rs. 10,000.00</price>
                            <p class="overall-title">
                                Overall you save <i class="fa fa-rupee"></i> 10000 (37.5%)
                                in this package.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="log-in-pop-right">
                            <div class="col-sm-6">
                                <div class="service-commission-section">
                                    <div class="panel-service">
                                        <h4>B2B Services : </h4>
                                        <ul>
                                            <li>Aeps</li>
                                            <li>Dmt</li>
                                            <li>Pan Card</li>
                                            <li>Insurance</li>
                                            <li>Bill Payment</li>
                                            <li>Finance</li>
                                            <li>mPOS</li>
                                            <li>Prepaid Card</li>
                                            <li>Other</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="service-commission-section">
                                    <div class="commission-section">
                                        <h4>Commission : </h4>
                                        <ul>
                                            <li>Rs. 13</li>
                                            <li>Surcharge Rs. 6</li>
                                            <li>Commission Rs. 6</li>
                                            <li>Commission 10% To 25%</li>
                                            <li>Nill</li>
                                            <li>Commission 6%</li>
                                            <li>Nill</li>
                                            <li>Commission 0.40%</li>
                                            <li>Commission 15% To 25%</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div> </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="popup-bottom-section">
                            <heading>*T&C Apply.</heading>
                            <p><i class="fa fa-check"></i> 24/7 Support</p>
                            <p><i class="fa fa-check"></i> Highest Commission in India.</p>
                            <p><i class="fa fa-check"></i> Safe and Secure</p>
                            <p><i class="fa fa-hand-o-right"></i> Call for more Information </p>
                            <div class="contact-number"><a href="#">+91-8890150920</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popup_master_distributor" class="modal fade pullDown">
        <div class="popup-page-wrapper">
            <div class="container">
                <h1>Master Distributor</h1><a href="#" class="pop-close" data-dismiss="modal">
                    <i class="fa fa-close"></i>
                </a>
                <div class="row">
                    <div class="col-md-5">
                        <div class="price-detail-section">
                            <h5>Price Details</h5>
                            <p class="maximum-price">Maximum Retail Price</p>
                            <p class="incl">(Incl. of all taxes)</p>
                            <del>Rs. 40,000.00</del>
                            <p class="selling-title">Selling Price</p>
                            <price>Rs. 30,000.00</price>
                            <p class="overall-title">
                                Overall you save <i class="fa fa-rupee"></i> 10,000 (25%)
                                in this package.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="log-in-pop-right">
                            <div class="col-sm-6">
                                <div class="service-commission-section">
                                    <div class="panel-service">
                                        <h4>B2B Services : </h4>
                                        <ul>
                                            <li>Aeps</li>
                                            <li>Dmt</li>
                                            <li>Pan Card</li>
                                            <li>Insurance</li>
                                            <li>Bill Payment</li>
                                            <li>Finance</li>
                                            <li>mPOS</li>
                                            <li>Prepaid Card</li>
                                            <li>Other</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="service-commission-section">
                                    <div class="commission-section">
                                        <h4>Commission : </h4>
                                        <ul>
                                            <li>Rs. 14</li>
                                            <li>Surcharge Rs. 6</li>
                                            <li>Commission Rs. 7</li>
                                            <li>Commission 20% To 25%</li>
                                            <li>Nill</li>
                                            <li>Commission 7%</li>
                                            <li>Nill</li>
                                            <li>Commission 0.40%</li>
                                            <li>Commission 20% To 30%</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div> </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="popup-bottom-section">
                            <heading>*T&C Apply.</heading>
                            <p><i class="fa fa-check"></i> 24/7 Support</p>
                            <p><i class="fa fa-check"></i> Highest Commission in India.</p>
                            <p><i class="fa fa-check"></i> Safe and Secure</p>
                            <p><i class="fa fa-hand-o-right"></i> Call for more Information </p>
                            <div class="contact-number"><a href="#">+91-8890150920</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popup_super_distributor" class="modal fade pullDown">
        <div class="popup-page-wrapper">
            <div class="container">
                <h1>super Distributor</h1><a href="#" class="pop-close" data-dismiss="modal">
                    <i class="fa fa-close"></i>
                </a>
                <div class="row">
                    <div class="col-md-5">
                        <div class="price-detail-section">
                            <h5>Price Details</h5>
                            <p class="maximum-price">Maximum Retail Price</p>
                            <p class="incl">(Incl. of all taxes)</p>
                            <del>Rs. 65,000.00</del>
                            <p class="selling-title">Selling Price</p>
                            <price>Rs. 50,000.00</price>
                            <p class="overall-title">
                                Overall you save <i class="fa fa-rupee"></i> 15,000 (23.1%)
                                in this package.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="log-in-pop-right">
                            <div class="col-sm-6">
                                <div class="service-commission-section">
                                    <div class="panel-service">
                                        <h4>B2B Services : </h4>
                                        <ul>
                                            <li>Aeps</li>
                                            <li>Dmt</li>
                                            <li>Pan Card</li>
                                            <li>Insurance</li>
                                            <li>Bill Payment</li>
                                            <li>Finance</li>
                                            <li>mPOS</li>
                                            <li>Prepaid Card</li>
                                            <li>Other</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="service-commission-section">
                                    <div class="commission-section">
                                        <h4>Commission : </h4>
                                        <ul>
                                            <li>Rs. 15</li>
                                            <li>Surcharge Rs. 6</li>
                                            <li>Commission Rs. 8</li>
                                            <li>Commission 20% To 30%</li>
                                            <li>Nill</li>
                                            <li>Commission 8%</li>
                                            <li>Nill</li>
                                            <li>Commission 0.40%</li>
                                            <li>Commission 20% To 30%</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div> </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="popup-bottom-section">
                            <heading>*T&C Apply.</heading>
                            <p><i class="fa fa-check"></i> 24/7 Support</p>
                            <p><i class="fa fa-check"></i> Highest Commission in India.</p>
                            <p><i class="fa fa-check"></i> Safe and Secure</p>
                            <p><i class="fa fa-hand-o-right"></i> Call for more Information </p>
                            <div class="contact-number"><a href="#">+91-8890150920</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--=====  Service Section =======-->
    <!--********* Services part start *********-->
    <section class="mt50">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-sm-offset-2">
                    <h4 class="title mb10" align="center">Our Services<span></span></h4>
                    <!-- <p class="mb30 text14" align="center">SUDHA MUTUAL BENEFIT NIDHI LIMITED.in is a unit of which is a leading web engineering company based in Kolkata. We are a development team who dedicatedly handle portal development, API integration, Payment getaway...</p> -->
                </div>
            </div>
            <div class="services block">
                <div class="container">
                    <div class="row odd">
                        <div class="col-md-6 right">
                            <img src="~/assets/web/content/img/services-image/services-1520072315.png" alt="PREPAID RECHARGE" />
                        </div>
                        <div class="col-md-6 left">
                            <h3>“AADHAR BANKING”</h3>
                            <div class="desc">
                                <p>
                                    <font size="2">
                                        Aadhaar Banking is AEPS (Aadhaar Enabled Payment System) powered digital banking service that enables retailers to provide basic banking functions such as cash withdrawal, balance inquiry, and domestic money remittances to their customers and earn money as commission. All that any retailer needs to do is to signup as a Siaasu Pay retailer and start providing these services.
                                    </font>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 left">
                            <h3>“Pay Out”</h3>
                            <div class="desc">
                                <p>
                                    <font size="2">
                                        Now, by Siaasu Pay retailers can provide their customers with Pay Out facility anytime of the day. For customers, transfering money to any account in the country is easier than ever before. Now customers don’t need to visit a bank branch, stand in long queues and fill cumbersome forms to transfer money to their loved ones – they just need to visit their local Siaasu Pay retail outlet!
                                    </font>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 right">
                            <img src="~/assets/web/content/img/services-image/services-1520922813.png" alt="DTH RECHARGE" />
                        </div>
                        <div class="col-md-6 right">
                            <img src="~/assets/web/content/img/services-image/services-1520922766.png" alt="POSTPAID PAYMENT" />
                        </div>
                        <div class="col-md-6 left">
                            <h3>“BILL PAYMENT AND RECHARGES”</h3>
                            <div class="desc">
                                <p>
                                    <span style="font-size: small;">
                                        Now, quick and effortless payment of utility bills of over 100 billers in India can be made at any Siaasu Pay retail outlet. Bharat BillPay (BBPS)-powered bill payment service available through the Siaasu Pay mobile app allows its retailers to provide this service to their customers. Bill payment of various services such as electricity, gas, water and telecom along with recharge of DTH and mobile (all major networks) services can be easily done without any hassles
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row odd">
                        <div class="col-md-6 left">
                            <h3>“OTHER SERVICES”</h3>
                            <div class="desc">
                                <p>
                                    <span style="font-size: small;">
                                        Now, Siaasu Pay Provide You Many More Services Like Finance, Bill Payment System, GST, ITR, Prepaid Card, mPos Machine, Account Opening, Ticket Booking and you can easily access and use all services
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 right">
                            <img src="~/assets/web/content/img/services-image/services-1520922486.png" alt="ELECTRICITY PAYMENT" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--********* Services part end *********-->
    <!--=====  testimonials Section =======-->
    <section id="testimonials-section"
             class="elementor-element elementor-element-a5eba0a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
             data-element_type="section">
        <div class="container">
            <div class="row">
                <div class="elementor-widget-wrap">
                    <div class="elementor-widget-container">
                        <h2 class="testimonials-heading">“</h2>
                    </div>
                    <div class="elementor-element owl-testimonials"
                         data-element_type="owl-testimonials-widget.default">
                        <div class="owl-testimonials-widget">
                            <div class="testimonials-slick-slider"
                                 data-settings='{"slidesToShow":{"desktop":1,"tablet":0,"mobile":0},"autoplaySpeed":5000,"autoplay":true,"infinite":true,"adaptiveHeight":true,"pauseOnHover":false,"speed":500,"arrows":false,"dots":false,"slidesToScroll":1,"prevArrow":"<i class=\"fa fa-angle-left prev-arrow jet-arrow\"><\/i>","nextArrow":"<i class=\"fa fa-angle-right next-arrow jet-arrow\"><\/i>"}'>
                                <div class="testimonials-item">
                                    <div class="testimonials-content">
                                        <p class="testimonials-comment" id="style-3">
                                            With the new update the app's running really fast. Now I just have
                                            to no wait while always loading. It has started
                                            working very fast after the update. My work become even easier, now
                                            all my customers are happy and its commission
                                            and margin is also very good. Thank you Siaasu Pay.
                                        </p>
                                        <div class="testimonials-name">ASHOK KUMAR MALI</div>
                                        <div class="testimonials-location">JAIPUR, Rajsthan</div>
                                        <figure class="testimonials-figure">
                                            <img src="~/assets/web/content/img/resources/happy-smiley.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <div class="testimonials-item">
                                    <div class="testimonials-content">
                                        <p class="testimonials-comment" id="style-3">
                                            Money make really easy with Siaasu Pay. It's my go to app for all my
                                            cashless payments. when i contacted 24*7 help centre, withing 1 hour
                                            my problem solved
                                            Really after update they are Amazing this time.
                                            Thank you Siaasu Pay
                                        </p>
                                        <div class="testimonials-name">ASHOK KUMAR MALI</div>
                                        <div class="testimonials-location">JAIPUR, Rajsthan</div>
                                        <figure class="testimonials-figure">
                                            <img src="~/assets/web/content/img/resources/happy-smiley.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <div class="testimonials-item">
                                    <div class="testimonials-content">
                                        <p class="testimonials-comment" id="style-3">
                                            It is always a good experience whenever I use Siaasu Pay payment
                                            transfer it great. I feel amazing for using this app. it's really
                                            good for my
                                            business. Now all my customers are happy. Thank you Siaasu Pay.
                                        </p>
                                        <div class="testimonials-name">ASHOK KUMAR MALI</div>
                                        <div class="testimonials-location">JAIPUR, Rajsthan</div>
                                        <figure class="testimonials-figure">
                                            <img src="~/assets/web/content/img/resources/happy-smiley.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <div class="testimonials-item">
                                    <div class="testimonials-content">
                                        <p class="testimonials-comment" id="style-3">
                                            I love Siaasu Pay because i can recharge mobile telephone, Dth,
                                            Postpaid And Prepaid Mobile, I can transfer Money from
                                            One account to the other account from Siaasu Pay this is very fast and
                                            easy. its commission is also vert good .
                                            Thank you Siaasu Pay.
                                        </p>
                                        <div class="testimonials-name">ASHOK KUMAR MALI</div>
                                        <div class="testimonials-location">JAIPUR, Rajsthan</div>
                                        <figure class="testimonials-figure">
                                            <img src="~/assets/web/content/img/resources/happy-smiley.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <div class="testimonials-item">
                                    <div class="testimonials-content">
                                        <p class="testimonials-comment" id="style-3">
                                            I have been using Siaasu Pay since last 1 or 2 Year and the experience
                                            is so good, Siaasu Pay services are really good it
                                            is gettting. It is also very fast for old 1 GB phone, I am able to
                                            easily Recharge all my customers Mobile,
                                            Torrents, Recharges And Withdrawal and depositing Money from their
                                            account has also become very easy. All my
                                            customers are happy. Thank you Siaasu Pay.
                                        </p>
                                        <div class="testimonials-name">ASHOK KUMAR MALI</div>
                                        <div class="testimonials-location">JAIPUR, Rajsthan</div>
                                        <figure class="testimonials-figure">
                                            <img src="~/assets/web/content/img/resources/happy-smiley.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--===== Contact Form Section =======-->
    <section id="contact-section" class="elementor-element">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="join-detail">
                        <h5> Get Started TODAY! </h5>
                        <span>And Join us</span>
                        <p>
                            Join Siaasu Pay community and start your successful career with us today! Here you will
                            find experienced Support team,
                            friendly atmosphere and develop yourself!
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="join-form-section">
                        <h4> Contact Us</h4>
                        <div class="join-form-input">
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="Enter your name" required>
                            <label for="name" class="popup-control-label">Name</label>
                            <samp class="bottom-bar"></samp>
                        </div>
                        <div class="join-form-input">
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="Enter your Mobile Number" required>
                            <label for="name" class="popup-control-label">Mobile</label>
                            <samp class="bottom-bar"></samp>
                        </div>
                        <div class="join-form-input">
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="Enter email" required>
                            <label for="name" class="popup-control-label">Email</label>
                            <samp class="bottom-bar"></samp>
                        </div>
                        <div class="join-form-input">
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="Enter State Name" required>
                            <label for="name" class="popup-control-label">State </label>
                            <samp class="bottom-bar"></samp>
                        </div>
                        <div class="join-form-input">
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="Enter City Name" required>
                            <label for="name" class="popup-control-label">City</label>
                            <samp class="bottom-bar"></samp>
                        </div>
                        <a href="#" class="inex-submit-button">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>