@model QroApi.MODEL.ChangePassword

<form asp-action="ChangePassword" asp-area="Admin" asp-controller="Member" enctype="multipart/form-data" data-ajax="true" data-ajax-method="POST" data-ajax-begin="OnBegin" data-ajax-failure="OnFailure"
      data-ajax-success="OnSuccess" data-ajax-complete="OnComplete">

    <div class="row">
        <div class="col-sm-12">
            <div class="position-relative form-group">
                <label asp-for="OldPassword"></label><span class="text-danger">*</span>
                <input asp-for="OldPassword" type="text" placeholder="Old Password" class="form-control">
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="position-relative form-group">
                <label asp-for="NewPassword"></label><span class="text-danger">*</span>
                <input asp-for="NewPassword" type="text" placeholder="New Password" class="form-control">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-12">
            <button type="submit" class="t-1 btn btn-primary pull-right">Save</button>
        </div>
    </div>

</form>