@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@{
    ViewData["Title"] = "List Member";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}


@{
    JObject obj = JObject.Parse(JsonConvert.SerializeObject(new MemberResponse(), Formatting.Indented, new JsonSerializerSettings
    { PreserveReferencesHandling = PreserveReferencesHandling.Objects }));
    obj.Remove("$id");
    obj.Remove("Id");
    obj.Remove("Password");

    obj.Remove("SponsorId");
    List<string> termsList = new List<string>();
    foreach (var columnName in obj)
    {
        termsList.Add(columnName.Key.Trim());
    }
    string[] columnArray = termsList.ToArray();

}

<style>
    .modal-backdrop.fade.show {
        display: none !important;
    }

    .modal-dialog {
        height: auto !important;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1 col-6 form-group">
                            <a href="#" data-target="#AddFilter" class="" data-toggle="modal" aria-expanded="true" style="" data-placement="auto" data-original-title="Conditional Filters">
                                <i class="fa fa-filter"></i>&nbsp;Filter
                            </a>
                        </div> 
                        <div class="col-md-9 col-6  text-left form-group">
                            <a class="" href="javascript:void(0);" data-toggle="modal" data-target="#exampleModal" onclick="member.MemberPopup(0,'Member');">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add New Member
                            </a>
                        </div>
                        <div class="col-md-2 col-6  form-group">
                            <div id="reportrange" style="background: #fff; text-align:center; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                <i class="fa fa-calendar"></i>&nbsp;<span></span><i class="fa fa-caret-down"></i>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="myTable" class="display nowrap dataTable dtr-inline collapsed">
                                    <thead>
                                        <tr>
                                            @foreach (var item in columnArray)
                                            {
                                                <th>@item</th>
                                            }
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal bnr-modal fade Filter-modal" id="AddFilter" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modeltitleAddFilter">Search Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body clearfix">
                <div class="dvfilterBody-col" data-table="dvfilterBody" style="max-height:400px;overflow: auto;">
                    <div class="form-group col-xs-12 ">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label">Status</label>
                                <select id="Status-Search" name="Status-Search" class="form-control">
                                    <option value="">All</option>
                                    <option value="Active">Active</option>
                                    <option value="InActive">InActive</option>
                                    @*<option value="Block">Block</option>*@
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Role</label>
                                <select id="UserRole-Search" name="UserRole-Search" class="form-control">
                                    <option value="0">Select Role</option>
                                </select>
                            </div>
                            <div class="col-md-4" style="display:none;">
                                <label class="control-label">Package</label>
                                <select id="PackageId-Search" name="PackageId-Search" class="form-control">
                                    <option value="0">Select Package </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">MemberId</label>
                                <input id="MemberId-Search" name="MemberId-Search" type="text" placeholder="MemberId" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Name</label>
                                <input id="Name-Search" name="Name-Search" type="text" placeholder="Name" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Mobile</label>
                                <input id="Mobile-Search" name="Mobile-Search" type="text" placeholder="Mobile" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Email</label>
                                <input id="Email-Search" name="Email-Search" type="text" placeholder="Email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="row">
                            <div class="col-md-12" style="text-align:right;">
                                <button id="btnSearch" type="button" class="btn btn-flat btn-success" title="Search Record">
                                    <i class="fa fa-search" aria-hidden="true"></i> Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/CustomJS/Utility.js"></script>
<script src="~/CustomJS/Member.js"></script>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            menu.BindBreadCrumb(0);
            var id = 0, area = `Member`;
            $.when(utility.GetRoleForRegistration(id, 'UserRole-Search', area)).then(function () {
                utility.GetPackage(area, 'PackageId-Search')
            });
            var data = {};

            common.Filter("Member", "Member", "GetMemberList", data, "myTable");

            $("#btnSearch").click(function () {
                data["option1"] = $("#UserRole-Search").val();
                data["option2"] = $("#PackageId-Search").val();
                data["option3"] = $("#MemberId-Search").val();
                data["option4"] = $("#Name-Search").val();
                data["option5"] = $("#Mobile-Search").val();
                data["option6"] = $("#Email-Search").val();
                data["status"] = $("#Status-Search").val();
                common.Filter("Member", "Member", "GetMemberList", data, "myTable", 1);
                $(".close").click();

            });
        });
    </script>
}
