@model QroApi.MODEL.ChangePassword

<form asp-action="ChangePassword" asp-area="Member" asp-controller="Member" enctype="multipart/form-data" data-ajax="true" data-ajax-method="POST" data-ajax-begin="OnBegin" data-ajax-failure="OnFailure"
      data-ajax-success="OnSuccess" data-ajax-complete="OnComplete">

    

</form>