@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@{
    ViewData["Title"] = "My Bank";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}


@{
    JObject obj = JObject.Parse(JsonConvert.SerializeObject(new MemberBankResponse(), Formatting.Indented, new JsonSerializerSettings
    { PreserveReferencesHandling = PreserveReferencesHandling.Objects }));
    obj.Remove("$id");
    obj.Remove("Id");
    List<string>
    termsList = new List<string>
        ();
    foreach (var columnName in obj)
    {
        termsList.Add(columnName.Key.Trim());
    }
    string[] columnArray = termsList.ToArray();
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-right form-group">
                            <a class="badge badge-success" href="javascript:void(0);" data-toggle="modal" data-target="#exampleModal" onclick="setting.MemberBankPopup(0,'Member');">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add New Bank
                            </a>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="myTable" class="display nowrap dataTable dtr-inline collapsed ">
                                    <thead>
                                        <tr>
                                            @foreach (var item in columnArray)
                                            {
                                                <th>@item</th>
                                            }
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/CustomJS/Utility.js"></script>
<script src="~/CustomJS/Settings.js"></script>
@section Scripts{
    <script>
        $(document).ready(function () {
            menu.BindBreadCrumb(0);
            setting.GetMemberBankList(`Member`);
        });
    </script>
}